/*  Main Body Styling */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(100, 100, 100);
  padding: 1em;
  background: rgb(250, 250, 250);
}

h1,
h2,
h3,
p,
li {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 2.5px 0;
}

li a {
  font-size: 1.25em;
  background: white;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

/*  Intro Styling */

.my-portfolio {
  background: white;
}

p {
  font-size: 1.25em;
  text-align: center;
  line-height: 1.45em;
}

/* .intro img {
  display: block;
  max-width: 100%;
  padding: 1em;
  margin: 0 auto;
} */
.profile-img {
  max-width: 360px;
  max-height: 225px;
  padding: 1em;
  margin: 0 auto;
  background: rgb(230, 230, 230);
}

.profile-img img {
  display: block;
  max-width: 100%;
  max-height: 190px;
  padding: 1em;
  margin: 0 auto;
  border-radius: 50%;
}

/*  Content Styling */

.my-portfolio h2 {
  padding: 35px 0;
}
.my-portfolio img {
  max-width: 100%;
  padding: 1em;
}

h3 {
  font-size: 1.5em;
}

/*  Contact Styling */

#contact {
  padding: 30px 0;
}
.contact-details p {
  text-align: center;
}

/*  Footer Styling */

footer {
  border-top: 2px solid rgb(230, 230, 230);
}

footer span {
  padding: 25px 1em;
  font-size: 1.5em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*  Media Queries */
